h2 {
  font-size: 50px;
  padding-top: 25px;
}

#form-9 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-8 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-7 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-6 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-5 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-4 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-3 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-2 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}

#form-1 {
  padding: 15px;
  border: 1px solid #666;
  background: #fff;
  display: none;
  height: 650px;
}
